root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{csproj,sln,props,targets}]
indent_style = tab

[*.{json,yml,yaml}]
indent_size = 2

[*.{js,css,html}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
indent_size = 4
csharp_using_directive_placement = inside_namespace:suggestion
csharp_style_namespace_declarations = block_scoped:silent

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

dotnet_diagnostic.IDE0005.severity = warning

dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

csharp_prefer_braces = false:silent
csharp_style_var_for_built_in_types = false:silent
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_expression_bodied_methods = true:silent
csharp_style_expression_bodied_properties = true:suggestion

dotnet_naming_rule.private_static_fields_underscore.severity = suggestion
dotnet_naming_rule.private_static_fields_underscore.symbols = private_fields
dotnet_naming_rule.private_static_fields_underscore.style = underscore_prefix

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.underscore_prefix.required_prefix = _
dotnet_naming_style.underscore_prefix.capitalization = camel_case
